.App {
  display: flex;
  justify-content: center;
  font-size: 12px;
}

section.container {
  width: 800px;
  background-color: #eee;
  padding: 5px;
  margin-top: 20px;
  border: 1px solid;
}

@media screen and (min-width: 480px) {
  section.container {
    padding: 0 20px 20px 20px;
  }

  .App {
    font-size: 16px;
  }
}